<p>Manteniento de Productos </p>

<button mat-flat-button (click)="openDialog(1)">Nuevo</button>

<table mat-table [dataSource]="lista" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre | uppercase}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="precio">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="categoria">
    <th mat-header-cell *matHeaderCellDef> Categoría </th>
    <td mat-cell *matCellDef="let element"> {{element.categoria.nombre | uppercase}}</td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="acciones">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">

      <section>
        <div class="example-button-row">
          <button mat-flat-button (click)="openDialog(2, element)">Modificar</button>
          <button mat-flat-button (click)="eliminar(element.id)">Eliminar</button>
          <button mat-flat-button (click)="openDialog(3, element)">Detalles</button>
        </div>
      </section>


    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


